#footer {
  padding-top: 5px;
  padding-left: 10px;
  background-color: black;

  p {
    padding-top: 25px;
    text-align: center;
  }

  .noUnderline {
    text-decoration: none;
    list-style-type: none;
  }

  .footer-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
  }
}
