/* after you fix  navabar scss, delete these lines */
#navbar-brand {
  margin-left: 8px;
}

.dropdown-menu {
  margin-left: 130px;
}

.nav-link {
  color: white;
}

.dropdown-item {
  color: blue;
}

.navbar-brand {
  margin-left: 8px;
}

.dropdown-menu {
  margin-left: 130px;
  position: absolute;
}

/* after you fix  carosel scss, delete these lines */

#carouselFadedSlides {
  overflow: hidden;
  position: relative;
  width: 100%;
  color: black;
  height: fit-content;
  background-position: center;
  background-size: cover;
}

.carousel-inner {
  height: 100vh !important;
}

.carousel-item {
  padding-top: 80px;
  height: fit-content;
  background: purple;
  background-position: center;
  background-size: cover;
}

.evpictures {
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.evphotos {
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h6 {
  color: aqua;
}

/* after you fix  aboutus scss, delete these lines */

/* #about,
#contact {
	background-color: #124559;
	color: white;
	padding: 30px;
}

#about h1 {
	margin-bottom: 0;
}

#about h5 {
	font-size: 16px;
	font-weight: normal;
}

#contact {
	background: #598392;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#contact input,
#contact textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

#contact a {
	color: white;
}

#contact .btn-primary {
	width: 100%;
	background: #124559;
} */

#shopEvs {
  /* margin: auto; */
  padding-left: 580px;
  padding-top: 66px;
}

#EVinfo {
  padding-top: 100px;
}

.sourceCenter {
  margin: 0 auto;
  text-align: center;
  /* padding-left: 645px;
  padding-top: 66px; */
}
